.vr_catalogue {
    border-right: 1px solid #38546d;
    background: #16222c;
    width: 1px;
    height: 80px;
    position: absolute;
    right: 250px;
    top: 10px;
} 

.btn_ajout{
    position : absolute;
    left: 300px;
    /*    color: blue;
        border-radius: 10px;
        width: auto;
        height: auto;*/
}
.btn{
    color: blue;
    border-radius: 50px;
    width: auto;
    height: auto;
}
.error {
    background-color: #ff6600;
}
p.small{
    font-size: small;
}
.vr_catalogue {
    border-right: 1px solid #38546d;
    background: #16222c;
    width: 1px;
    height: 80px;
    position: absolute;
    right: 250px;
    top: 10px;
} 

strong {
    color : red;
    font-size: x-large;
}
strong2 {
     color : blue;
    font-size: x-large;
}
strong3{
    color : green;
    font-size: x-large;
}
.center{
    float:center;
}
.centre {
    margin: auto;
    text-align: center;
    border-bottom: 5px solid #38546d;
    background-color:silver;
}
.left{
    float:left;
}
.tableau {
    margin: auto;
    text-align: center;
    border-bottom: 5px solid #38546d;
    background-color : #ffcc99;
}

.footer {
    width: 10px;   
    color : blue;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
}
.nav1 form{
    display: inline-block;
}
.btn_cat {
    color : #ff3333;
}
.btn_cat2 {
    width: 100%;
    height : 10%;
    font-size : xx-large;
}

.btn_eve {
    width: 100%;
    height: 7%;
    font-size : x-large;

.test{
    position:relative;
    background-color:darkgray;
    float: right;
}
/*
.btn_ajout{
    position : absolute;
    left: 1500px;
    color: blue;
    border-radius: 10px;
    width: auto;
    height: auto;
}
.btn{
    position : absolute;
    left: 2000px;
    color: blue;
    border-radius: 50px;
    width: auto;
    height: auto;
}*/

.joseph {
    background-image: url("http://ville-sussargues.fr/wordpress/wp-content/uploads/2014/10/bibliotheque-web.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    
}
