.vr_catalogue {
    border-right: 1px solid #38546d;
    background: #16222c;
    width: 1px;
    height: 80px;
    position: absolute;
    right: 250px;
    top: 10px;
} 

.btn_ajout{
    position : absolute;
    left: 300px;
/*    color: blue;
    border-radius: 10px;
    width: auto;
    height: auto;*/
}
.btn{
    color: blue;
    border-radius: 50px;
    width: auto;
    height: auto;
}